.sidebar-container{
  flex: 1;
  height: calc(110vh - 50px);
  background-color: #321040;
  position: sticky;
  top: 50px;
  padding: 0px 30px;
  width: auto ;
 
}

.menu{
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.menu:hover, 
.menu.active{
 font-weight: 500;
 font-size: 17px;
}

.sidebarIcon{
 margin: 15px 8px;
  color: white;
  font-size: 19px;  
}

.menu-icon-link{
  display: flex;
}

.menu-container{
  position: absolute;
  top: 45px;

}

.header{
 
    font-size: 18px;
    padding-top: 20px;
    color: rgb(199, 198, 198);
    font-weight: 700;
   
}

.mobile-menu-icon{
  display: none;
}


#hidden{
  flex: 1;
  height: calc(110vh - 50px);
  background-color: #321040;
  position: sticky;
  top: 50px;
  padding: 0px 30px;
  width: auto ;
  display: flex;
  
}

@media only screen and (max-width: 1000px){
  .mobile-menu-icon{
      background-color: transparent;
      border: none;
      font-size: 20px;
      margin-left: 15px;
      cursor: pointer;
      display: flex;
      margin-top: 20px;
  }

  .sidebar-container{
    display: none;
  }
}