.profile-header{
    margin: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.account-label{
    font-weight: 500;
    font-size: 19px;
    color: grey;
    margin: 0px 70px 30px 150px;
    
}

.label-input-div{
    margin-bottom: 30px;
    display: flex;
    margin-left: -80px;
}

.voter-account-content{
    display: flex;
}

.input-txt-name{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
}

.input-txt-email{
    font-size: 17px;
    color: black;
    text-transform: lowercase;
    position: relative;
    left: 46px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px auto;
    padding: 7px 20px;
    height: 45px;
}

.input-txt-passNum{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    left: -15px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
}

.input-txt-category{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    left: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
}

.form-application{
    display: flex;
    margin-left: 50px;
}

.account-footer{
    margin-top: 50vh;
}

.Logout{
    background-color: rgb(170, 26, 26);
    color: whitesmoke;
    font-weight: 600;
    font-size: 22px;
    width: 300px;
    padding: 10px 0px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 120px;
    cursor: pointer;
    border: none;
    margin-top: -10px;
}

.Logout:hover{
    color: white;
    background-color: rgb(129, 9, 9);
}

.application-header{
    margin: 0px 0px 50px 300px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.user-info-input{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    border: 1px solid grey;
    width: 350px;
    padding: 7px 20px;
    height: 45px;
    border-radius: 5px;
    margin-left: 30px;
}

.user-info-container{
    margin-bottom: 20px;
}

.user-info-label{
    font-weight: 500;
    font-size: 19px;
    color: grey;
    margin-left: 30px;
}

.user-info-container{
    display: flex;
}

.account-info{
    margin-left: 60px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
}

.application-data-container{
    margin-left: 80px;
    margin-top: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}

.my-application{
    font-size: 25px;
    margin-left: 10px;
}

.my-account-application-container{
    display: flex;
    margin-top: 40px;
}

.my-account-application-section{
    margin-left: 300px;
}

.my-account-application-header{
    font-size: 25px;
    margin-bottom: 30px;
}

.my-account-application-label{
    font-weight: 500;
    font-size: 19px;
    color: grey;
    margin-right: 20px;
}

.my-account-application-txt-fname{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
    margin-left: 30px;
}

.my-account-application-txt-lname{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
    margin-left: 30px;
}

.my-account-application-txt-points{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
    margin-left: 73px;
}

.my-account-application-txt-party{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
    margin-left: 7px;
}

.my-account-application-txt-office{
    font-size: 17px;
    color: black;
    text-transform: capitalize;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    width: 250px;
    padding: 7px 20px;
    height: 45px;
    margin-left: 70px;
}

.do-not-have-application{
    color: red;
    font-weight: 500;
    font-size: 20px;
    font-style: italic;
}
@media only screen and (max-width: 426px){
    .input-txt-name{
        position: relative;
         left: -20px;
         width: 230px;
     }
 
     .input-txt-email{
         margin-left: -108px;
         width: 230px;
         margin-top: -10px;
     }
 
     .input-txt-category{
         margin-left: -95px;
         width: 210px;
     }

     .form-application{
        display: flex;
        margin-left: -50px;
    }

    .input-txt-passNum{
        position: absolute;
        left: 160px;
        border: 1px solid grey;
        border-radius: 5px;
        width: 200px;
        padding: 7px 20px;
        height: 45px;
    }

    .label-input-div{
        margin-bottom: 35px;
        display: flex;
        margin-left: -80px;
    }

    .Logout{
        width: 330px;
        padding: 10px 0px 10px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-left: 63px;
       
    }

    .profile-header{
        margin: 30px 0px 40px -50px;
    }
    
    .voter-account-content{
        display: block;
    }
    
    .application-data-container{
        margin-left: 10px;
        margin-top: 25px;
        border: none;
        padding: 10px;
    }

    .application-details{
        margin-left: -20px;
    }

    .user-info-input{
        font-size: 17px;
        color: black;
        text-transform: capitalize;
        border: 1px solid grey;
        width: 200px;
        padding: 7px 20px;
        height: 45px;
        border-radius: 5px;
        margin-left: 30px;
    }
}


