.display-approved-contestant{
    border: 1px solid grey;
    border-radius: 5px;
    width: 300px;
    padding: 20px;  
    margin-bottom: 40px;
   
}

.approve-photo-container{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    text-align: center;
}

.approve-data{
    font-weight: 700;
    font-size: 16px;
}

.approve-data-span{
    font-weight: 500;
    padding-left: 10px;
}

.approve-data-list-container{
    display: inline-flex;
    margin-left: 30px;
}

.approve-btn-container{
    text-align: center;
}

.contestLS-p{
    color: red;
    font-weight: 500;
    font-size: 17px;
    font-style: italic;
}

.users-list{
    text-align: center;
    font-weight: 600;
    color: grey;
    font-size: 21px;
    margin-top: 30px;
}

.vote{
    top: 0;
    font-size: 17px;
    background-color: rgb(71, 6, 96);
    color: white;
    padding: 6px 20px;
    width: 250px;
    border-radius: 3px;
    font-weight: 500;  
    border: none;
    cursor: pointer;
    height: 45px;
    text-transform: uppercase;
}


.vote:disabled {
    color: black;
    background-color: rgb(193, 192, 192);
    cursor: no-drop;
}



.vote:hover{
    color: white;
    background-color: rgb(50, 5, 68);

}

.voter-load-icon{
    font-size: 50px;
}

.load-icon-container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}



