.form-input{
  padding: 10px;
  display: block;
  margin: 30px;

}

.contest-header{
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.contest-input{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    display: block;
    margin: 5px 0px 40px 0px;
    font-size: 17px;
    font-weight: 500;
    width: 420px ;
    padding: 10px;
}

.contest-input-disable{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    display: block;
    margin: 5px 0px 40px 0px;
    font-size: 17px;
    font-weight: 500;
    width: 420px ;
    padding: 10px;
}

#disable-inputs:hover{
    cursor: no-drop;
}

.contest-input-disable:hover{
    cursor: no-drop;
    color: grey;
}

.contest-label{
    color: rgb(109, 109, 109);
    font-weight: 500;
    font-size: 17px;
    
}

.user-exist{
    color: red;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    font-size: 17px;
}

.contest-btn{
    background-color: #44104d;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 10px 150px 10px;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

.contest-btn:hover{
    background-color: #220627;
}

.contest-applied{
    background-color: grey;
    color: black;
    font-weight: 600;
    font-size: 20px;
    width: 250px;
    border-radius: 7px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-left: 25px;
}

.contest-applied:disabled{
    background-color: rgb(169, 168, 168);
    color: black;
    cursor: no-drop;
    padding: 10px 30px;
    border-radius: 7px;
    width: 400px;
}

.contest-header{
    text-align: center;
}

.select-office{
    width: 250px;
    padding: 5px;
    font-size: 15px;
    margin: 10px 0px 30px;
    display: block;
    font-weight: 500;
}

.form-success{
    color: green;
    font-weight: 500;
    font-size: 16px;
}


