.header-container{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-between;
    background-color: #301934;
    color: white;
    height: 55px;
    padding: 15px 0px 35px;
    
}

.logo{
    margin-left: 40px;
    cursor: pointer;   
}

.logo-text{
    font-weight: 500;
    color: white;
    font-size: 25px;
}

.logo-text:hover{
    color: whitesmoke;
}

.icon{
    margin-right: 40px;
    font-size: 19px;
    display: flex;
}

.bell{
    padding-left: 15px;
    cursor: pointer;
    
}

.user{
    cursor: pointer;  
}

.user:hover, .bell:hover{
    color: rgb(222, 221, 221);
}

.header-nav-user{
    background-color: transparent;
    border: none;
    cursor: pointer;
}