.left-container{
    width: 80vh;
    height: 18vh auto;
    padding: 10px;
}

.form-container{
    margin: 60px 0px 0px 30px;
}

.input{
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    display: block;
    margin: 5px 0px 40px 0px;
    font-size: 17px;
    font-weight: 500;
    width: 450px;
    
}

.label{
    color: grey;
    font-weight: 500;
    font-size: 20px;
}

.register-container{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    
}

.radio{
    margin-top: 10px;
}

.radioo{
    display: inline;
   
}

.form-button{
    text-transform: uppercase;
    width: 500px;
    padding: 15px 0px 15px 0px;
    border: none;
    background-color: rgb(71, 6, 96);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

.form-button:hover{
    background-color: rgb(86, 9, 117);
}

.vote-img{
    width: 80vh ;
    height: 95vh;
}

.left-text{
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
}

.voter{
    margin-right: 20px;
    font-size: 18px;
}

.error{
    color: red;
    padding-bottom: 25px;
    margin-top: -35px;
    font-weight: 500;
    font-size: 16px;
}

.auth-error{
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin-top: -40px;
    margin-bottom: 30px;

}
.login-container{
    display: flex;
    margin: 30px;
}

.form-button-p{
    text-align: center;
    color: grey;
    font-size: 17px;
    font-weight: 500;
}

.login-link{
    text-decoration: underline;
    color: blue;
    
}

.login-link:hover{
    color: blue;
}

.required{
    color: red;
}

.form-button:disabled{
    background-color: grey;
    cursor: no-drop;
    color: black;
}

.sign-up-btn{
    background-color: rgb(71, 6, 96);
    color: white;
    border: none;
    width: 460px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.disable-sign-up-btn{
    background-color: rgb(188, 188, 188);
    color: white;
    cursor: no-drop;
    border: none;
    width: 460px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.redirect-btn{
    background-color: rgb(188, 188, 188);
    border: none;
    width: 460px;
    height: 45px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    cursor: no-drop;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 25px;
    height: 25px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
    display: inline-flex;
    margin: -5px 10px;
  }


  @media only screen and (max-width: 550px){
    .register-container{
        display: block;
        justify-content: space-around;
        margin: 30px;
    }

    .vote-img{
        width: 6vh;
    }

    .form{
        margin-top: -120px;
        margin-left: -20px;
    }

    
    .input{
        width: 400px;
        font-size: 20px;
        
    }

    .form-button{
        width: 400px;
        padding: 10px 0px 15px 0px;
        font-size: 25px;
    }

    .label{
        font-size: 18px;
    }

    .vote-img{
        margin-top: -40px;
    }

    .left-text{
        font-size: 30px;
        margin-bottom: -45px;
        margin-left: -60px;
    }

    .form-button-p{
        font-size: 20px;
        text-align: left;
    }

  }

  @media only screen and (max-width: 750px){
    .register-container{
        display: block;
        justify-content: space-around;
        margin: 30px;      
    }

    .label{
        font-size: 18px;
    }

    .vote-img{
        width: 65vh ;
        padding-right: 30px;
    }

    .form{
        margin-top: -120px;
        margin-left: -20px;
    }

    
    .input{
        width: 400px;
        font-size: 20px;
        
    }

    .form-button{
        width: 400px;
        padding: 10px 0px 15px 0px;
        font-size: 25px;
    }


    .left-text{
        font-size: 30px;
        margin-bottom: -45px;
        margin-left: -60px;
    }

    .login-container{
        display: block;
        margin: 30px;
    }

    .form-button-p{
        font-size: 20px;
        text-align: left;
    }
  }

