.footer-container{
    text-align: center;
    margin: 10px;
   
}

.footer-text{
    border-top: 1px solid grey;
    padding-top: 20px;
    color: grey;
}

.social-icon{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}
.social-icon:hover{
    color: grey;
}